* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

.body-container {
    display: block;
    height: calc(100vh - 60px);
    padding-bottom: 40px;
}

body {
    display: block;
    height: calc(100vh - 60px);
}

main {
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card {
    width: 18rem;
    margin: 0;
}

.form > input {
    width: 100%;
}

table {
    max-width: fit-content;
}

td, th {
    width: 9.5vw;
    min-width: 9.5vw;
    max-width: 9.5vw;
}

tr {
    height: 50px;
}

thead, tbody {
    display: block;
}

tbody {
    max-height: 60vh;
    overflow-y: scroll;
}

table.table tbody tr td,
table.table thead tr th {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

table.table thead th {
    border-bottom: 2px solid darkgray;
}

main.container {
    padding: 40px 40px 0 40px;
}

#scope-identifier {
    display: inline-block;
    text-align: center;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.appointment {
    height: 49px;
    border-radius: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.appointment > span {
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    display: inline-block;
    transition: all 0.1s ease-in-out;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
}

.appointment-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.appointment-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.appointment-top-bottom {
    border-radius: 10px;
}

.appointment-top.appointment-selected {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.appointment-between.appointment-selected {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.appointment-bottom.appointment-selected {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.appointment-top-bottom.appointment-selected {
    border: 5px solid black;
}

#createAppointment, #editAppointment, #tags, #share, #dialog-error {
    z-index: 1;
}

.tag-list, .email-list {
    overflow-y: scroll;
    max-height: 350px;
}

.contacts {
    height: 300px;
}

.remove-tag {
    margin-bottom: 0;
}